header > .header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    flex-direction: row;
}

header > .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    flex-direction: row;
    text-decoration: none;
    padding: 15px 30px;
    border-bottom: 1px solid var(--white);
}