header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    flex-direction: row;
    text-decoration: none;
    padding: 15px 30px;
    border-bottom: 1px solid var(--white);
}

@media only screen and (max-width: 350px) {
    header {
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
    }
}

@media only screen and (max-width: 175px) {
    header > .nav-links {
        text-align: center;
    }
}