<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title | default: "float" }}</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/home.css" />
    <link rel="stylesheet" href="/css/archive.css" />
    <link rel="stylesheet" href="/css/post.css" />
  </head>
  <body>
    <header>
      <a href="/"
        ><img src="/assets/float_logotype_transparent_bg.png" alt="float logo, the word float contained within angle brackets with a slash to represent a html element tag."
      /></a>
      <div class="nav-links">
        <a href="/">HOME</a>
        <a href="../../../archive">ARCHIVE</a>
      </div>
    </header>
    <main>
      <h1>{{ title }}</h1>
      {{ content }}
    </main>
    <footer>
      <p>
        Website built by
        <a
          href="https://charlotteroe.space/"
          target="_blank"
          rel="noopener noreferrer"
          >Charlotte Roe ↗</a
        >
        with
        <a
          href="https://www.11ty.dev/"
          target="_blank"
          rel="noopener noreferrer"
          >11ty ↗</a
        >. Source code on
        <a
          href="https://github.com/ckjr3000/float-v2"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub ↗</a
        >
      </p>
      <p></p>
    </footer>
  </body>
</html>
