<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title | default: "float" }}</title>
    <link rel="stylesheet" href="/css/global.css">
</head>
<body>
    <header>
        <h1><a href="/">< /float ></a></h1>
        <h2>Monthly Creative Technology Meetups in Huddersfield</h2>
        <a href="/">HOME</a>
        <a href="../archive">ARCHIVE</a>
    </header>
    <main>
        <h2>{{ title }}</h2>
        {{ content }}
    </main>
</body>
</html>